---
import Layout from "@layouts/Layout.astro";
import { db, posts, postEdits } from "@lib/db";
import { eq, desc, max, min } from "drizzle-orm";

const postTimeRanges = db
  .select({
    id: posts.id,
    oldest: min(postEdits.publishedAt).as("oldest"),
    newest: max(postEdits.publishedAt).as("newest"),
  })
  .from(posts)
  .innerJoin(postEdits, eq(postEdits.postId, posts.id))
  .groupBy(posts.id)
  .as("post_time_ranges");
const newestPosts = await db
  .select({ ...postEdits, firstPublishedAt: postTimeRanges.oldest })
  .from(postTimeRanges)
  .innerJoin(postEdits, eq(postEdits.publishedAt, postTimeRanges.newest))
  .orderBy(desc(postTimeRanges.oldest));

const formatDate = (date: Date) =>
  date.toLocaleString("en-GB", {
    dateStyle: "medium",
    timeStyle: "short",
  });
---

<Layout title="blog">
  <div class="article-list">
    {
      newestPosts.map((post) => (
        <article>
          <a href={`/blog/${post.slug}/`}>
            <h2>{post.title}</h2>
          </a>
          {post.description}
          <footer>{formatDate(post.firstPublishedAt)}</footer>
        </article>
      ))
    }
  </div>
</Layout>

<style>
  h2 {
    margin: 0;
  }
  .article-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap);
  }
  article {
    border: rgb(var(--color-highlight)) var(--size-border-width) solid;
    padding: var(--spacing-padding);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap);
  }
  footer {
    font-size: 0.8em;
  }
</style>
