:root {
  --color-base: 30, 30, 46;
  --color-mantle: 24, 24, 37;
  --color-crust: 17, 17, 27;
  --color-text: 205, 214, 244;
  --color-subtext1: 186, 194, 222;
  --color-blue: 137, 180, 250;
  --color-main: var(--color-blue);
  --size-content-width: 800px;
  --size-border-width: 2px;
  --spacing-padding: 1.2rem;
  --spacing-gap: 1rem;
  --radius-layout: 0.5em;
  --radius-content: 0.3em;
  --font-content: "Lexend Variable", sans-serif;
  --font-code: "JetBrains Mono Variable", monospace;
}

:root[data-theme~="latte"] {
  --color-base: 239, 241, 245;
  --color-mantle: 230, 233, 239;
  --color-crust: 220, 224, 232;
  --color-subtext1: 92, 95, 119;
  --color-text: 76, 79, 105;
  --color-blue: 30, 102, 245;
}

body {
  background: rgb(var(--color-base));
  color: rgb(var(--color-text));
  font-family: var(--font-content);
  font-size: 1.2rem;
  margin: 0;
}

main {
  max-width: var(--size-content-width);
  min-height: calc(100vh - 8em);
  margin: 0 auto;
  padding: var(--spacing-padding);
}

p {
  text-align: justify;
}

a {
  color: rgb(var(--color-main));
}

pre,
code {
  background: rgb(var(--color-mantle));
  border-radius: var(--radius-content);
  font-family: var(--font-code);
}

pre {
  padding: var(--spacing-padding);
}

code {
  padding: 0 0.3em;
}

dl {
  display: grid;
  gap: 0.3em var(--spacing-gap);
  grid-template-columns: max-content;
}

dt {
  font-weight: bold;
}

dd {
  grid-column-start: 2;
  margin: 0;
}

@media (max-width: 600px) {
  dl {
    display: flex;
    flex-direction: column;
  }
}

.heading-anchor {
  text-decoration: none;
  margin-right: 1ch;
}
