:root {
  --color-base: 30, 30, 46;
  --color-text: 205, 214, 244;
  --color-blue: 137, 180, 250;
  --color-main: var(--color-blue);
  --size-content-width: 800px;
  --size-border-width: 2px;
  --spacing-padding: 1em;
  --spacing-gap: 1em;
  --font-layout: "Hanken Grotesk Variable", sans-serif;
}

:root[data-theme~="latte"] {
  --color-base: 239, 241, 245;
  --color-text: 76, 79, 105;
  --color-blue: 30, 102, 245;
}

body {
  background: rgb(var(--color-base));
  color: rgb(var(--color-text));
  font-family: var(--font-layout);
  text-align: justify;
  font-size: 1.5em;
  margin: 0;
}

main {
  max-width: var(--size-content-width);
  min-height: calc(100vh - 6em);
  margin: 0 auto;
  padding: var(--spacing-padding);
}

a {
  color: rgb(var(--color-main));
}

h1 {
  margin-top: 0;
}
