---
import { SITE_TITLE } from "@src/consts";

let pathSegments: { name: string; path: string }[] = [];
let path = "";
for (const segment of Astro.url.pathname.split("/")) {
  path += `${segment}/`;
  pathSegments.push({
    name: segment.replaceAll("-", " ").replace(/\w/, (c) => c.toUpperCase()),
    path,
  });
}
pathSegments[0].name = SITE_TITLE;
if (pathSegments.at(-1)?.name === "") {
  pathSegments.pop();
}
---

<nav aria-label="breadcrumbs">
  <ol class="breadcrumbs-list">
    {
      pathSegments.slice(0, -1).map(({ name, path }) => (
        <li class="breadcrumb-item">
          <a href={path}>{name}</a>
        </li>
      ))
    }
    <li class="breadcrumb-item">
      <span aria-current="page">{pathSegments.at(-1)?.name}</span>
    </li>
  </ol>
</nav>

<style>
  a {
    text-decoration: none;
  }

  .breadcrumbs-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .breadcrumb-item {
    display: flex;
    align-items: center;

    &:not(:first-child)::before {
      display: inline-block;
      margin: 0 1ch;
      content: "/";
    }

    &:first-child {
      font-weight: 600;
    }
  }

  @media (max-width: 600px) {
    .breadcrumb-item {
      &:not(:first-child) {
        display: none;
      }

      &::after {
        visibility: hidden;
      }
    }
  }
</style>
