---
import Webrings from "@comps/Webrings.astro";
import { LICENSE_URI } from "@src/consts";
import { Icon } from "astro-icon/components";
---

<footer>
  <div class="content">
    <a class="license" rel="license" href={LICENSE_URI}>
      <Icon name="lucide:copyright" title="copyright" class="icon" />&nbsp;2023
      - 2025 bricked
    </a>
    <Webrings />
  </div>
</footer>
<style>
  footer {
    width: 100%;
    background: rgb(var(--color-mantle));
    margin: 0 auto;
    padding: var(--spacing-padding);
    box-sizing: border-box;

    > :global(*) {
      --color-mantle: var(--color-crust);
    }
  }

  .license {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .content {
    max-width: var(--size-content-width);
    text-align: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-gap);
  }
</style>
