<footer><div class="content">&copy; 2023 - 2025 bricked</div></footer>
<style>
  footer {
    width: 100%;
    background: rgb(var(--color-mantle));
    margin: 0 auto;
    padding: var(--spacing-padding);
    box-sizing: border-box;
  }

  .content {
    max-width: var(--size-content-width);
    width: 100%;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
  }
</style>
