<header>
  <nav>
    <a href="/">~</a>
    <a href="/blog">blog</a>
    <a href="/socials">socials</a>
  </nav>
  <style>
    header {
      width: 100%;
      max-width: var(--size-content-width);
      padding: var(--spacing-padding);
      margin: 0 auto;
    }

    nav {
      margin: 0 auto;
      display: flex;
      align-items: center;
      gap: var(--spacing-gap);
    }
  </style>
</header>

<style>
  a {
    text-decoration: none;
  }
  a::before {
    content: "[ ";
  }
  a::after {
    content: " ]";
  }
</style>
