---
import Breadcrumbs from "@comps/Breadcrumbs.astro";
---

<header>
  <div class="content">
    <Breadcrumbs />
    <nav aria-label="links" class="links">
      <a href="/blog">Blog</a>
      <a href="/socials">Socials</a>
    </nav>
  </div>
</header>

<style>
  a {
    text-decoration: none;
  }

  header {
    width: 100%;
    background: rgb(var(--color-mantle));
    padding: var(--spacing-padding);
    box-sizing: border-box;
  }

  .content {
    width: 100%;
    max-width: var(--size-content-width);
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: var(--spacing-gap);
    flex-wrap: wrap;
  }

  .links {
    display: flex;
    align-items: center;
    gap: var(--spacing-gap);
    font-weight: 600;
  }
</style>
