---
export type Props = astroHTML.JSX.HTMLAttributes;
const { class: className, "class:list": classList } = Astro.props;
---

<li class:list={["item", classList, className]} {...Astro.props}>
  <slot />
</li>

<style>
  .item {
    all: unset;
  }
</style>
