<div class="logo">
  <svg
    width="5"
    height="12"
    viewBox="0 0 5 12"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      id="bracket-left"
      d="M3 2L1 2.5V10.5L3 10"
      stroke="#1676E8"
      stroke-width="2"
      stroke-linecap="square"></path>
  </svg>
  <span class="label">bricked</span>
  <svg
    width="5"
    height="12"
    viewBox="0 0 5 12"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      id="bracket-right"
      d="M2 2L4 1.5V9.5L2 10"
      stroke="#1676E8"
      stroke-width="2"
      stroke-linecap="square"></path>
  </svg>
</div>

<style>
  .logo {
    display: flex;
    align-items: center;
    gap: 0.5ch;
    height: 1em;
  }
  svg {
    stroke: currentColor;
    stroke-width: 2;
    height: 100%;
    width: auto;
  }
  .label {
    font-size: 0.8em;
    font-weight: 900;
    font-style: italic;
  }
</style>
