---
interface Props {
  selected?: boolean;
}

const { selected } = Astro.props;
---

<span class:list={["badge", { selected }]}>
  {selected && "-"}
  <slot />
</span>

<style>
  .badge {
    background: rgb(var(--color-mantle));
    border-radius: var(--radius-content);
    padding: 0 0.3em;
  }
</style>
