---
import { Icon } from "astro-icon/components";

interface Props {
  active?: boolean;
  href: URL | string;
}

const { active, href } = Astro.props;
---

<a class="tag" href={href}>
  {active && <Icon name="lucide:circle-x" title="remove" class="remove-icon" />}
  <slot />
</a>

<style>
  .tag {
    background: rgb(var(--color-mantle));
    border-radius: var(--radius-content);
    padding: 0 0.3em;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    gap: 0.3em;
  }

  .remove-icon {
    font-size: 0.8em;
  }
</style>
