---
interface Props {
  active?: boolean;
  href: URL | string;
}

const { active, href } = Astro.props;
---

<span class="tag" }>
  <a class="tag-anchor" href={href}>
    {active && "-"}
    <slot />
  </a>
</span>

<style>
  .tag {
    background: rgb(var(--color-mantle));
    border-radius: var(--radius-content);
    padding: 0 0.3em;
    text-wrap: nowrap;
  }

  .tag-anchor {
    text-decoration: none;
  }
</style>
