---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Not found">
  <p>
    The requested page does not exist. If you think this is a bug, please create
    a <a href="https://github.com/brckd/pages/issues">bug report</a> and describe
    what you attempted to do.
  </p>
</Layout>
