---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Internal Server Error">
  <p>
    The server encountered an error rendering this page. Please create a <a
      href="https://github.com/brckd/pages/issues">bug report</a
    > and describe the actions that led to this.
  </p>
</Layout>
