---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Description about me."
  pubDate={new Date("Aug 29 2023")}
  heroImage="/about-banner.jpg"
>
  <p>
    I'm Bricked and I'm a German highschool student who spends too much time online! I like to
    program stuff like Discord bots, websites and libraries in my free time and engage in the
    Fancade visual scripting community. Apart from that I administrate MUES and Artcade on Discord.
  </p>

  <h2>Contact</h2>
  <p>Wonder what I've been up to? Find me elsewhere on the interwebz!</p>

  <h3>Code</h3>
  <p>Find my newest projects here!</p>
  <ul>
    <li><b>GitHub</b> <a href="https://github.com/brckd"><code>@brckd</code></a></li>
    <li><b>NPM</b> <a href="https://www.npmjs.com/~bricked"><code>@bricked</code></a></li>
  </ul>

  <h3>Messaging</h3>
  <p>Say hi to me here!</p>
  <ul>
    <li>
      <b>Discord</b>
      <a href="https://discord.com/users/691572882148425809"><code>@brckd</code></a>
    </li>
    <li>
      <b>Matrix</b>
      <a href="https://matrix.to/#/@bricked:matrix.org"><code>@bricked:matrix.org</code></a>
    </li>
    <li>
      <b>Email</b>
      <a href="mailto:hi@bricked.anonaddy.me"><code>hi@bricked.anonaddy.me</code></a>
    </li>
  </ul>
</Layout>
