---
import Layout from "@layouts/Layout.astro";
import Webrings from "@comps/Webrings.astro";
import { Image } from "astro:assets";
import waving from "@assets/illustrations/waving.png";
---

<Layout title="Bricked">
  <Fragment slot="title"></Fragment>
  <div class="grid">
    <h1>I am bricked</h1>
    <Image
      class="illustration"
      src={waving}
      alt="Bricked waving."
      width={400}
    />
    <p>
      Hay, I'm <strong>bricked</strong> and I love using and contributing to open-source
      software. So far I have specialized in NixOS configurations, accessible websites
      and Discord bots, but I always love to learn something new!
    </p>
  </div>

  <h2>Projects</h2>

  <p>The following are some projects I primarily like to work on or support.</p>

  <dl>
    <dt><a href="https://bricked.dev">bricked.dev</a></dt><dd>
      My personal website and <a href="/blog">blog</a>
    </dd>
    <dt><a href="https://nixdots.bricked.dev">NixDots</a></dt><dd>
      My dotfiles for <a href="https://nixos.org">NixOS</a>
    </dd>
    <dt><a href="https://cade.party">Dittocade</a></dt><dd>
      Microservices for the <a href="https://fancade.com">Fancade</a> mobile game
      engine
    </dd>
    <dt><a href="https://maxy.top">maxy.top</a></dt><dd>
      Proudly sponsoring the website of Maxy, a friend of mine
    </dd>
  </dl>
</Layout>

<style>
  .grid {
    display: grid;
    gap: var(--spaing-gap);
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .illustration {
      grid-column: 2;
      grid-row: 1 / span 2;
      margin: 0 auto;
    }
  }

  @media (max-width: 600px) {
    .grid {
      display: flex;
      flex-direction: column;
      align-items: unset;
    }
  }

  .illustration {
    max-width: 400px;
    width: 100%;
    height: auto;
  }
</style>
