---
import Layout from "@layouts/Layout.astro";
const mail = "hxello@brickxed.dexv".replaceAll("x", "");
---

<Layout title="Socials" description="A list of my socials.">
  <p>
    I'm all around the internet! This is a list of platforms I'm most active on.
  </p>

  <h2>Contact</h2>
  <p>Say hi to me here!</p>
  <dl>
    <dt>Discord</dt>
    <dd><a href="https://discord.com/users/691572882148425809">@brckd</a></dd>
    <dt>Matrix</dt>
    <dd>
      <a href="https://matrix.to/#/@bricked:nope.chat">@bricked:nope.chat</a>
    </dd>
    <dt>Mastodon</dt>
    <dd><a href="https://tilde.zone/@bricked">@bricked@tilde.zone</a></dd>
    <dt>Lemmy</dt>
    <dd><a href="https://feddit.org/u/bricked">@bricked@feddit.org</a></dd>
    <dt>Email</dt>
    <dd>
      <a href={`mailto:${mail}`} set:text={mail} />
    </dd>
  </dl>

  <h2>Code</h2>
  <p>Find my newest projects here!</p>
  <dl>
    <dt>GitHub</dt>
    <dd><a href="https://github.com/brckd">@brckd</a></dd>
    <dt>Codeberg</dt>
    <dd><a href="https://codeberg.org/bricked">@bricked</a></dd>
    <dt>GitLab</dt>
    <dd><a href="https://gitlab.com/bricked">@bricked</a></dd>
    <dt>NPM</dt>
    <dd><a href="https://npmjs.org/~bricked">@bricked</a></dd>
  </dl>
</Layout>

<style>
  table {
    border-collapse: separate;
    border-spacing: 0 0;
    border: rgb(var(--color-highlight)) var(--size-border-width) solid;
  }
</style>
