---
import Layout from "@layouts/Layout.astro";
const mail = "hxello@brickxed.dexv".replaceAll("x", "");
---

<Layout title="socials">
  <p>
    I'm all around the internet! This is a list of platforms I'm most active on.
  </p>

  <h2>contact</h2>
  <p>Say hi to me here!</p>
  <table>
    <tr>
      <td>discord</td>
      <td><a href="https://discord.com/users/691572882148425809">@brckd</a></td>
    </tr>
    <tr>
      <td>matrix</td>
      <td>
        <a href="https://matrix.to/#/@bricked:nope.chat">@bricked:nope.chat</a>
      </td>
    </tr>
    <tr>
      <td>mastodon</td>
      <td><a href="https://tilde.zone/@bricked">@bricked@tilde.zone</a></td>
    </tr>
    <tr>
      <td>lemmy</td>
      <td><a href="https://feddit.org/u/bricked">@bricked@feddit.org</a></td>
    </tr>
    <tr>
      <td>email</td>
      <td>
        <a href={`mailto:${mail}`} set:text={mail} />
      </td>
    </tr>
  </table>

  <h2>code</h2>
  <p>Find my newest projects here!</p>
  <table>
    <tr>
      <td>github</td>
      <td><a href="https://github.com/brckd">@brckd</a></td>
    </tr>
    <tr>
      <td>codeberg</td>
      <td><a href="https://codeberg.org/bricked">@bricked</a></td>
    </tr>
    <tr>
      <td>gitlab</td>
      <td><a href="https://gitlab.com/bricked">@bricked</a></td>
    </tr>
    <tr>
      <td>npm</td>
      <td><a href="https://npmjs.org/~bricked">@bricked</a></td>
    </tr>
  </table>
</Layout>

<style>
  table {
    border-collapse: separate;
    border-spacing: 1ch 0;
    padding: 0;
    border: rgb(var(--color-highlight)) var(--size-border-width) solid;
    padding: var(--spacing-padding);
  }
</style>
