---
import SocialBadge from "@comps/SocialBadge.astro";
import Layout from "@layouts/BlogPost.astro";
---

<Layout
  title="socials"
  description="a list of my socials."
  pubDate={new Date("Aug 29 2023")}
>
  <p>
    I'm all around the internet! This is a list of platforms I'm most active on.
  </p>

  <h2>contact</h2>
  <p>Say hi to me here!</p>
  <ul>
    <li>
      <SocialBadge
        name="discord"
        uri="https://discord.com/users/691572882148425809"
        tag="brckd"
      />
    </li>
    <li>
      <SocialBadge
        name="matrix"
        uri="https://matrix.to/#/@bricked:nope.chat"
        tag="bricked:nope.chat"
      />
    </li>
    <li>
      <SocialBadge
        name="mastodon"
        uri="https://tilde.zone/@bricked"
        tag="bricked@tilde.zone"
      />
    </li>
    <li>
      <SocialBadge
        name="lemmy"
        uri="https://feddit.org/u/bricked"
        tag="bricked@feddit.org"
      />
      <li>
        <SocialBadge
          name="email"
          uri={"mailto:hello#bricked.dev".replace("#", "@")}
          literal
          tag={"hello#bricked.dev".replace("#", "@")}
        />
      </li>
    </li>

    <h2>code</h2>
    <p>Find my newest projects here!</p>
    <ul>
      <li>
        <SocialBadge name="github" uri="https://github.com/brckd" tag="brckd" />
      </li>
      <li>
        <SocialBadge
          name="codeberg"
          uri="https://codeberg.org/bricked"
          tag="bricked"
        />
      </li>
      <li>
        <SocialBadge
          name="gitlab"
          uri="https://gitlab.com/bricked"
          tag="bricked"
        />
      </li>
      <li>
        <SocialBadge
          name="npm"
          uri="https://npmjs.org/~bricked"
          tag="bricked"
        />
      </li>
    </ul>
  </ul>
</Layout>
