<div class="social-links">
  <a href="https://discord.com/users/691572882148425809" target="_blank">
    <span class="sr-only">Say hi on Discord</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 32 24.25"
      fill="currentColor"
    >
      <path
        d="M27.104,2.031C25.002,1.068,22.782,0.386,20.503,0.000C20.191,0.558,19.909,1.131,19.657,1.719C17.229,1.353,14.760,1.353,12.331,1.719C12.080,1.131,11.798,0.558,11.486,0.000C9.205,0.389,6.984,1.073,4.880,2.036C0.702,8.217,-0.430,14.244,0.136,20.186L0.136,20.186C2.582,21.993,5.321,23.368,8.232,24.250C8.887,23.368,9.467,22.433,9.966,21.454C9.019,21.100,8.105,20.664,7.235,20.150C7.464,19.984,7.688,19.813,7.905,19.647C13.031,22.058,18.965,22.058,24.091,19.647C24.310,19.826,24.534,19.997,24.761,20.150C23.889,20.665,22.974,21.102,22.025,21.457C22.523,22.435,23.103,23.370,23.759,24.250C26.673,23.371,29.413,21.997,31.860,20.188L31.860,20.188C32.525,13.298,30.725,7.326,27.104,2.031ZZM10.683,16.532C9.105,16.532,7.801,15.100,7.801,13.338C7.801,11.576,9.060,10.132,10.678,10.132C12.296,10.132,13.590,11.576,13.562,13.338C13.534,15.100,12.291,16.532,10.683,16.532ZZM21.313,16.532C19.733,16.532,18.434,15.100,18.434,13.338C18.434,11.576,19.692,10.132,21.313,10.132C22.934,10.132,24.217,11.576,24.190,13.338C24.162,15.100,22.921,16.532,21.313,16.532ZZ"
      ></path>
    </svg>
  </a>
  <a href="https://matrix.to/#/@bricked:matrix.org" target="_blank">
    <span class="sr-only">Say hi on Matrix</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 32 32"
      fill="currentColor"
    >
      <path
        d="M0.843,0.732L0.843,31.268L3.040,31.268L3.040,32.000L0.000,32.000L0.000,0.000L3.040,0.000L3.040,0.732L0.843,0.732ZZ"
      ></path>
      <path
        d="M10.234,10.412L10.234,11.957L10.277,11.957C10.689,11.366,11.188,10.911,11.766,10.591C12.345,10.265,13.015,10.105,13.766,10.105C14.486,10.105,15.145,10.246,15.742,10.523C16.338,10.800,16.788,11.298,17.102,12.000C17.440,11.502,17.902,11.058,18.480,10.677C19.058,10.295,19.748,10.105,20.542,10.105C21.145,10.105,21.705,10.178,22.222,10.326C22.738,10.474,23.175,10.708,23.545,11.034C23.914,11.360,24.197,11.778,24.406,12.302C24.609,12.825,24.714,13.452,24.714,14.191L24.714,21.828L21.582,21.828L21.582,15.360C21.582,14.978,21.569,14.615,21.538,14.277C21.508,13.938,21.428,13.643,21.298,13.397C21.163,13.145,20.972,12.948,20.714,12.800C20.455,12.652,20.105,12.578,19.668,12.578C19.225,12.578,18.868,12.665,18.597,12.831C18.326,13.003,18.111,13.218,17.957,13.495C17.803,13.766,17.698,14.074,17.649,14.425C17.600,14.769,17.569,15.120,17.569,15.471L17.569,21.828L14.437,21.828L14.437,15.428C14.437,15.089,14.431,14.757,14.412,14.425C14.400,14.092,14.332,13.791,14.222,13.508C14.111,13.231,13.926,13.003,13.668,12.837C13.409,12.671,13.034,12.585,12.529,12.585C12.382,12.585,12.185,12.615,11.945,12.683C11.705,12.751,11.465,12.874,11.237,13.058C11.009,13.243,10.812,13.508,10.652,13.852C10.492,14.197,10.412,14.652,10.412,15.212L10.412,21.834L7.280,21.834L7.280,10.412L10.234,10.412ZZ"
      ></path>
      <path
        d="M31.157,31.268L31.157,0.732L28.960,0.732L28.960,0.000L32.000,0.000L32.000,32.000L28.960,32.000L28.960,31.268L31.157,31.268ZZ"
      ></path>
    </svg>
  </a>
  <a href="https://github.com/brckd/pages" target="_blank">
    <span class="sr-only">Go to the GitHub repo</span>
    <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/github"
      ><path
        fill="currentColor"
        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
      ></path></svg
    >
  </a>
</div>
<style>
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
