---
import "@styles/fonts.css";
import "@styles/global.css";

import Head, { type Props as HeadProps } from "@comps/Head.astro";
import Header from "@comps/Header.astro";
import Footer from "@comps/Footer.astro";

export type Props = HeadProps;

const { title = "" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head {...Astro.props} />
  </head>
  <body>
    <Header title={title} />

    <main>
      <slot name="title"
        ><h1>
          {title}
        </h1></slot
      >
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  h1 {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
</style>
